* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.naw {
  padding: 10px;
  background-color: blue;
}
.kalkulator {
  background-color: rgb(223, 228, 228);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  border: solid black;
  box-shadow: 0 2px 5px black;
}

#natija {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px black;
  border: none;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}
button {
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px black;
}
button:hover {
  background-color: rgb(226, 226, 226);
}
.dal {
  background-color: rgb(248, 151, 5);
}
.raqam,
.nuqta {
  background-color: #fff;
}
.teng {
  background-color: aquamarine;
  grid-row: span 3;
  border-radius: 10px;
}
.oper {
  background-color: aqua;
}
.l {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
